@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f1f1f1;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

/* Hamburger Menu styling */
#hamburger-menu {
  background: none;
  border: none;
  font-size: 28px;
  font-weight: 900;
  color: #15139c;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Nav menu styling for the desktop version */
nav ul {
  list-style-type: none;
  margin: 0;
  background-color: white;
  padding: 10px;
  overflow: auto;
}

nav li {
  float: left;
}

.leftli {
  float: right;
  margin-left: 40px;

  /* position: relative;
  top: 12px; */
}

nav li a {
  text-decoration: none;
  color: blue;
  display: inline-block;
  text-align: center;
}

nav li a.logolink {
  position: relative;
  top: 0;
  left: 70px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  padding: 20px 0;
  animation-name: logo;
  animation-duration: 3s;
}

@keyframes logo {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(90deg); }
  40% { transform: rotate(180deg); }
  60% { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}

nav li a#hamburger-menu {
  position: relative;
  top: 4px;
  right: 20px;
}

.link-desktop {
  float: right;
  padding: 0 10px;

  /* display: none; */
  position: relative;
  top: 0;
  right: 100px;
}

.link-desktop a {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  padding: 25px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.iconlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.iconlist li {
  display: block;
  float: left;
  padding: 0 5px;
}

.icons {
  margin-right: 10px;
  width: 17.99px;
  height: 20px;
}

/* ======Desktop view====== */

@media screen and (min-width: 768px) {
  body {
    width: 100%;
  }

  #hamburger-menu {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .headline-mobile {
    display: none;
  }

  #portfolio2 {
    display: none;
  }

  .headline {
    display: flex;
    flex-wrap: wrap;
    background-image: url('/images/desktopbackground1.svg');
    background-repeat: no-repeat;
    background-color: white;
    background-size: contain;
    background-position: 0 0;
    border-bottom-left-radius: 50px;
    padding: 30px;
    width: 100%;
    height: 779px;
  }

  .textdiv {
    position: relative;

    /* left: 85px;
    top: 90px; */
    left: 170px;
    top: 180px;
    width: 70%;
    height: 128px;
  }

  .textdiv h1 {
    font-size: 48px !important;

    /* line-height: 60px; */
    font-family: 'Poppins', sans-serif;
    color: #172b4d;
    font-style: normal;
    font-weight: 700;

    /* font-size: 40px; */
    line-height: 52px;
  }

  .textdiv p {
    font-size: 20px !important;
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    color: #344563;
    font-style: normal;
    font-weight: 400;

    /* font-size: 16px; */

    /* line-height: 24px; */
  }

  .pcol {
    color: #7f8cff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .work {
  border: 1px solid #dfe1e6;
  border-radius: 24px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  display: flex;
  flex-direction: row;
  height: 490px;
  background-color: white;
  }

  .work-two,
  .work-four {
    flex-direction: row-reverse;
  }
  
  .imgdiv {
    /* flex: 50%; */
    width: 50%;
  }

  .imgdivdesktop {
    /* flex: 50%; */
    max-width: 45%;
  }

  .tproject {
    width: 95%;
    height: 95%;
    margin-bottom: 20px;
    margin-right: 20px;
    transition: transform 4s;
  }

  .tproject:hover {
    transform: scale(1.1, 1.1);
  }

  .tonicdesktop {
    flex: 50%;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .popheading {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    /* font-size: 32px;
    line-height: 44px; */
    color: #172b4d;
  }

  .popheaddesktop {
    font-weight: 700;
    font-size: 40px !important;
    line-height: 44px;
    color: #091e42 !important;
  }

  .skillinfo {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px !important;
  }

  .skillinfo li {
    float: left;
  }

  .skill-one,
  .skill-three,
  .skill-five {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  /* font-weight: 600; */
  /* font-size: 13px; */
  /* line-height: 16px; */
  color: #344563;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  }

  .skill-two,
  .skill-four {
  width: 9px;
  height: 9px;
  margin: 0 6px;
  }

  .skill-three,
  .skill-five {
    color: #7a869a;
  }

  .popp15 {
    clear: left;
    margin-top: 20px !important;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    /* font-size: 15px; */
    line-height: 24px;
    color: #344563;
  }

  .pop15desktop {
    font-size: 16px !important;
  }

  .techlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .techlist li {
    display: block;
    float: left;
    padding: 0 2px;
    margin-right: 5px;
  }

  .htcj {
    background: #ebebff;
    border-radius: 8px;
    /* display: inline-block; */
    padding: 5px 14px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #6070ff;
  }

  .btn {
    clear: left;
    margin-top: 20px;
    padding: 20px 0;
  }

  .btnlink {
    clear: left;
    text-decoration: none;
  color: #396df2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #396df2;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 12px;
  }

  .btnlink:hover {
    background: #6070ff;
  color: #fff;
  }

  .btnlink:active {
    background: #2230d2;
  color: #fff;
  }

  .about-desktop {
    display: grid;
    background-image: url('/images/aboutDesktop.png') !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    grid-template-columns: 50% 50% !important;
    border-top-right-radius: 50px !important;
    padding: 40px;
    margin-top: 100px;
    height: auto;
  }

  .about {
    margin-right: 0;
    margin-top: 20px;
    width: 75%;
    height: auto;
    position: relative;
    left: 20px;
  }

  .abouts {
    text-decoration: none;
    color: #396df2;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    border: 1px solid #396df2;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 12px;
  }
  
  .abouts:hover {
    background: #6070ff;
    color: #fff;
  }
  
  .abouts:active {
    background: #2230d2;
    color: #fff;
  }
  

  .abouth {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .lastsection {
    margin-left: 0;
    margin-top: 20px;
    width: 90%;
    height: auto;
  }

  .skill-tools {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .aboutp {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* color: #000; */
    color: #344563
  }

  .front-end-skills {
    display: flex;
    flex-direction: row;
  }

  .title-text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
  }

  .css {
    margin-left: 6px;
    margin-right: 6px;
  }

  .css-title {
    margin-left: 8px;
  }

  .js {
    margin-left: 3px;
    margin-right: 3px;
  }

  .react-title {
    margin-left: 8px;
  }

  .redux {
    margin-left: 6px;
    margin-right: 6px;
  }

  .saas-title {
    margin-left: 8px;
  }

  .bootstrap {
    margin-left: 3px;
    margin-right: 3px;
  }

  .tailwind {
    margin-left: 3px;
    margin-right: 3px;
  }

  .imageabout {
    width: 50px;
    height: 50px;
  }
  
  .back-end-skills {
    display: flex;
    flex-direction: row;
  }

  .ruby-title {
    margin-left: 8px;
  }

  .ror {
    margin-left: 35px;
  }

  .postgre {
    margin-left: 20px;
  }

  .tools {
    display: flex;
    flex-direction: row;
  }

  .git-title {
    margin-left: 10px;
  }

  .github {
    margin-left: 10px;
    margin-right: 10px;
  }

  .vscode {
    margin-right: 10px;
  }

  .jest-title {
    margin-left: 10px;
  }

  .rspec {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* .iconlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .iconlist li {
    display: block;
    float: left;
    padding: 0 5px;
  }

  .icons {
    margin-right: 10px;
    width: 17.99px;
    height: 20px;
  } */
}

/* ======Mobile view====== */

@media screen and (max-width: 767px) {
  .link-desktop {
    display: none;
  }

  .headline {
    display: none;
  }

  #hamburger-menu {
    display: block;
  }

  #portfolio1 {
    display: none;
  }

  .about-desktop {
    display: none;
  }

  .headline-mobile {
    display: block;
    background-image: url('/images/image.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 50px;
    padding: 40px;
    width: 100%;
    height: auto;
    background-color: white;
  }

  .textdiv-mobile h1 {
    font-family: 'Poppins', sans-serif;
    color: #172b4d;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .textdiv-mobile p {
    font-family: 'Poppins', sans-serif;
    color: #344563;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .pcol-mobile {
    color: #7f8cff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .mobile-menu {
  /* min-height: 718px; */
  height: 100vh;
  width: 0;
  /* width: 100vw; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background: #0e23dda9;
  backdrop-filter: blur(5px);
  transition: 0.6s;
  }

  .mobile-menu ul {
    list-style-type: none;
    margin: 10% 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #cross {
    margin: 3% 3%;
    cursor: pointer;
  }

  .mobile-menu ul li {
    padding: 10% 5%;
    margin-top: 5.5rem;
    margin-left: 3rem;
  }

  .mobile-menu li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .work-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #dfe1e6;
  border-radius: 8px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: white;
  }

  .img-div-mob {
  flex: 100%;
  margin-left: 20px;
  margin-top: 20px;
  }

  .tonic {
    flex: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .projects {
    width: 295px;
    height: 220px;
    transition: transform 4s;
  }
  
  .projects:hover {
    transform: scale(1.1, 1.1);
  }

  .project-name {
    font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  }

  .skill-list {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .skill-list li {
    float: left;
  }

  .skillm-one,
  .skillm-three,
  .skillm-five {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  }

  .skillm-two,
  .skillm-four {
  width: 9px;
  height: 9px;
  margin: 0 6px;
  }

  .skillm-three,
  .skillm-five {
    color: #7a869a;
  }

  .project-description {
    clear: left;
    margin-top: 20px !important;
    font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  }

  .tech-mob-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .tech-mob-list li {
    display: block;
  float: left;
  padding: 0 2px;
  margin-right: 5px;
  }

  .htcj2 {
    background: #ebebff;
    border-radius: 8px;
    display: inline-block;
    padding: 5px 14px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #6070ff;
  }

  .btn-div-mob {
    /* clear: left;
    margin-top: 10px;
  border: 1px solid #396df2;
  border-radius: 8px;
  display: inline-block;
  padding: 10px 12px; */
  clear: left;
    margin-top: 20px;
    padding: 20px 0;
  }

  .live-version {
    /* text-decoration: none;
    /* padding: 10px 12px; */
  /* color: #396df2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px; */ 
  text-decoration: none;
  color: #396df2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #396df2;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 12px;
  }

  .live-version:hover {
    background: #6070ff;
  color: white;
  }
}
